<nav>
	<section class="logo">
		<a href="../index.html"><img src="../img/logo.png" alt="Главная страница"></a>
	</section>
	<section>
		<a href="../posts/index.html">Coding</a>
	</section>
	<section>
		<a href="../texts/index.html">Тексты</a>
	</section>
	<section>
		<a href="../events/index.html">События</a>
	</section>
	<section>
		<a href="../links/index.html">Ссылки</a>
	</section>
</nav>